.client__list {
  display: flex;
  gap: 30px;
  width: 100%;
  flex-wrap: wrap;

  justify-content: center;
}

.client__card {
  min-width: calc((100% - 30px) / 2);
  @include tablet {
    min-width: calc((100% - 60px) / 3);
  }
  @include desktop {
    min-width: calc((100% - 150px) / 6);
  }
}

.client__link {
  display: flex;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: var(--icon-social-color);
  transition: color var(--primary-transition),
    border-color var(--primary-transition);
  &:focus,
  &:hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}

.client__icon {
  fill: currentColor;
}
