.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-bg-color);
}

.footer__general {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  text-align: center;
  align-items: baseline;
  @include desktop {
    justify-content: left;
    gap: 0;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--primary-bg-color);
}

.footer__tablet {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  text-align: center;
  justify-content: center;
  align-items: baseline;
  @include tablet {
    display: flex;
    gap: 165px;
    flex-wrap: nowrap;
  }
  @include desktop {
    display: flex;
    gap: 70px;
    text-align: left;
  }
}
