.hero {
  max-width: 480px;
  height: 400px;
  background: #c4c4c4;
  background-image: var(--hero-gradient),
    url(../images/hero/hero-smartphone.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;

  @include retina {
    background-image: var(--hero-gradient),
      url(../images/hero/hero-smartphone-2x.jpg);
  }

  @include tablet {
    max-width: 768px;
    background-image: var(--hero-gradient), url(../images/hero/hero-tablet.jpg);
    @include retina {
      background-image: var(--hero-gradient),
        url(../images/hero/hero-tablet-2x.jpg);
    }
  }
  @include desktop {
    background-image: var(--hero-gradient), url(../images/hero/hero-desktop.jpg);
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    @include retina {
      background-image: var(--hero-gradient),
        url(../images/hero/hero-desktop-2x.jpg);
    }
  }
}

.hero__title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  color: var(--primary-bg-color);

  font-weight: 900;
  font-size: 20px;

  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @include smartphone {
    font-size: 26px;
  }

  @include desktop {
    max-width: 696px;

    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: inline-block;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 24px;
  border: none;

  color: var(--primary-bg-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  @include desktop {
    min-width: 216px;
  }
}
