.social__list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__person {
  color: var(--icon-social-color);
  transition: color var(--primary-transition),
    background-color var(--primary-transition);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
  }
}

.social__icon {
  fill: currentColor;
}
